<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Backbone Fundementals Chapter 3</title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>

<div id="todo">
    <input type="checkbox" />
</div>
<script type="text/template" id="item-template">
    <div>
        <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %> >
        <%= title %>
    </div>

</script>

<script>
    var TodoRouter = Backbone.Router.extend({
        path: '/backbonetutorial/chapter-3/',
        routes: {
            'about' : 'showAbout',

            'todo/:id' : 'getTodo',

            'search/:query' : 'searchTodos',

            'search/:query/p:page' : 'searchTodos',

            'todos/:id/download/*documentPath' : 'downloadDocument',

            '*other' : 'defaultRoute',

            'optional(/:item)' : 'optionalItem',

            "named/optional/(y:z)" : 'namedOptionalItem'
        },

        //now we define the mapped functions
        showAbout: function(){
            console.log("This is the about page");
        },
        getTodo: function(id){
            console.log("Displaying todo number", id);
        },
        searchTodos: function(query, page){
            var page_number = page || 1;
            console.log("Page number", page_number, "of the results for todos containing the word:", query);
        },
        downloadDocument: function(id, path){
            console.log("Attempting to download an item with the id:", id, "from the path:", path);
        },
        defaultRoute: function(other){
            if(other === null){
                this.navigate("/home/");
                console.log("this is the home page")
            }else{
                console.log("Invalid page request. You attempted to navigate to", other,
                        ". \nBeing redirected to either 404.");
            }
        }

    });

    var mainRouter = new TodoRouter();
    Backbone.history.start();
    Backbone.history.on('route', function(){
        console.log("route changed... something something");
    });
    mainRouter.on('route', function(name, args){
       console.log(name, name === 'routeEvent');
    });
    location.replace('http://localhost:63342/backbonetutorial/chapter-3/#route-event/x');
    Backbone.history.checkUrl();
</script>
</body>
</html>